<meta property="og:title" content="{% pageTitle "" %}">
<meta property="og:type" content="{{ ogtype }}">
{{ opengraph.type }}
<meta property="og:url" content="{% canonicalURL "" %}">
<meta property="og:description" content="{% pageDescription "" %}">
{% if image %}<meta property="og:image" content="{{ image }}">{% endif %}
