<title>{% pageTitle "" %}</title>

<meta name="description" content="{% pageDescription "" %}">
<meta name="robots" content="{% metaRobots "" %}">
<meta name="author" content="{% metaAuthor "" %}">

<link rel="canonical" href="{% canonicalURL "" %}">

{% openGraph "" %}
{% twitterCard "" %}
